stages:
  - build
  - deploy
  - test

dev-build:
  tags:
    - "docker"
  stage: build
  only:
    - dev2
  script:
    - echo "dev build"

dev-deploy:
  tags:
    - "docker"
  stage: deploy
  only:
    - dev2
  script:
    - echo "dev deploy"

dev-test:
  tags:
    - "docker"
  stage: test
  only:
    - dev2
  script:
    - echo "dev testing"
