stages:
  - build
  - deploy
  - test

dev-build:
  tags:
    - "docker"
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev2"
  script:
    - echo "dev build"

dev-deploy:
  tags:
    - "docker"
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev2"
  script:
    - echo "dev deploy"

dev-test:
  tags:
    - "docker"
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev2"
  script:
    - echo "dev testing"

release:
  tags:
    - "docker"
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == "dev2" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
  script:
    - echo "main release"